.control_panel {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 280px;
  background-color: white;
  opacity: 0.1;
  box-shadow: 0 0 5px rgba(255, 255, 255, 1);
  border-radius: 5px;
  transition-duration: 0.8s;
  padding: 0;
}

.control_panel:hover {
  opacity: 1;
  transition-duration: 0.8s
}

.option_list {
  list-style: none;
  padding-left: 10px;
}

.option_list>li {
  line-height: 39px;
}

.option_list>li>span {
  display: inline-block;
  width: 100px;
  cursor: default;
}




.info_panel {
  list-style: none;
  width: 150px;
  position: fixed;
  top: 20px;
  left: 5px;
  background-color: inherit;
  padding: 0;
  opacity: 0.6;
  transition-duration: 0.8s
}

.info_panel:hover {
  opacity: 1;
  transition-duration: 0.8s
}

.info_panel_3d>li {
  height: 90px !important
}

.info_panel>li {
  height: 65px;
  border: solid;
  border-width: 1px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  margin: 2px;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
  cursor: default
}

.speed_info {
  position: relative;
  display: block;
  bottom: 20px;
  left: 50px;
  color: white;
}

.reset_button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.6;
  color: white
}

.reset_button:hover {
  opacity: 1;
}

.status_button {
  position: fixed;
  bottom: 20px;
  left: 2px;
  opacity: 0.6;
  color: white
}

.add_data_row {
  padding-top: 10px;
  text-align: center;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}