.control_panel {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 280px;
  background-color: white;
  opacity: 0.1;
  box-shadow: 0 0 5px rgba(255, 255, 255, 1);
  border-radius: 5px;
  transition-duration: 0.8s;
  padding: 10px;
}

.control_panel:hover {
  opacity: 1;
  transition-duration: 0.8s
}

.control_panel>ul {
  list-style: none;
}

.control_panel>ul>li {
  list-style: none;
  line-height: 50px;
}

.control_panel>ul>li>span {
  display: inline-block;
  width: 100px;
}